<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CLOUD-CODE-CRAFT</title>
  <link rel="stylesheet" href="../stylesheets/index.css">
</head>

<body>
  <div class="container">
    <div class="page1">
      <div class="loginSignUp">
        <form action="/login" method="post">
          <button id="login-btn">Login</button>
        </form>
        <form action="/register" method="post">
          <button id="register-btn">Register</button>
        </form>
      </div>
      <h1>Idea to software, fast</h1>
      <p>Build software collaboratively with the power of AI, on any device, without spending a second on setup</p>
      <form action="/login">
        <button>Start Creating</button>
        <button>Start Fucking</button>
      </form>
    </div>
  </div>
</body>

</html>